#footer
{
    background-color: maroon;
    color:#FFFF;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bolder;
    height: auto;
}


.cadastroCavalo
{
    background-color: rgba(#FFFF, 0, 0, 0.);
    margin-top: 5%;
    padding: 3%;
    margin-left: 35%;
    width: 400px;
    border-radius: 5%;
    font-weight: bolder;
}

.home{
    background-color: wheat;
}

.cards .card
{
    margin-top: 20px;
    padding: 20px;
    justify-content: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    }


.table{
    font-weight: normal;
}

.cadastrarCavalo{
    
    background-image: url('../img/lojaRdr2.jpg');
    background-position: 0%;
}

